#textInfos {
  float: left;
  margin-right: 2em;
}
.pure-menu-heading {
  padding: 1em 1em;
}
.logo-container img {
  min-height: 0;
  margin: auto;
  margin-top: 70px;
}

@media (min-width: 1050px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 1050px) {
  .desktop-only {
    display: none;
  }
  .u-lrg-1-4, .u-lrg-1-3, .u-lrg-2-6 {
    width: 50%;
  }
  .u-lrg-3-4 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  #textInfos {
    float: none;
    text-align: center;
    margin: 1em;
  }
  .text-box .pure-form {
    text-align: center;
  }
  .pure-menu-link {
    padding: 1em 0.5em;
  }
  .photo-box {
    height: 225px;
  }
  .logo-container img {
    margin-top: 30px;
  }
  .text-box {
    height: 350px;
  }
}

@media (max-width: 480px) {
  .text-box {
    height: 400px;
  }
  .logo-container img {
    margin-top: 10%;
    width: 100%;
  }
  #textInfos {
    float: none;
    text-align: center;
    margin: 1em;
  }
  .pure-form {
    display: block;
  }
  .pure-menu-horizontal .pure-menu-list, .u-lrg-1-4:not(.mobile-only) {
    display: none;
  }
  .u-lrg-1-3, .u-lrg-2-6, .u-lrg-1-4 {
    width: 100%;
  }
}