# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# gatsby files
.cache/
public
src/gatsby-types.d.ts

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

# Temporary notes
IMAGE_REPLACEMENT_NOTE.md
